body {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  background-image: url(./image.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
#answer {
  color: black;
  font-size: 200px;
  border-style: double;
  background-color: silver;
}
#answer:hover {
  color: red;
}
